<ul class="nav">
  <li>
    <a href="/" aria-label="Home">
      <i class="fa-solid fa-house" aria-hidden="true" title="Home"></i>
    </a>
  </li>
  <li>
    <a href="/projects" aria-label="Projects">
      <i class="fa-solid fa-laptop-code" aria-hidden="true" title="Projects"></i>
    </a>
  </li>
  <li>
    <a href="/hobbies" aria-label="Hobbies">
      <i class="fa-solid fa-dice-d20" aria-hidden="true" title="Hobbies"></i>
    </a>
  </li>
  <li>
    <a href="/contact" aria-label="Contact">
      <i class="fa-solid fa-comments" aria-hidden="true" title="Contact"></i>
    </a>
  </li>
</ul>
