<article class="blog-column">
  <div class="wrapper">
    <div class="post-metadata">
      <span> {{ include.date | date: "%m/%d/%y" }} </span>
      <span>
        <i class="fa-regular fa-clock"></i> {{ include.read_time }} minute read
      </span>
    </div>
    <div class="content">
      <div class="header">
        {% if include.url %}
        <a href="{{include.url}}"><h2>{{ include.title }}</h2></a>
        {% else %}
        <h2>{{ include.title }}</h2>
        {% endif %}
      </div>

      {{ include.content }}

      <div class="tags">
        <ul>
          {% for tag in page.tags %}
          <li>
            <a href="/tags#{{tag}}">#{{tag}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</article>
