.blog-column {
  margin-top: 5rem;
  align-items: center;
  min-width: 20em;

  h2 {
    font-style: normal;
    font-size: 2rem;
    text-align: left;
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    .post-metadata {
      display: inline;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      padding: 1rem;
      background-color: var($--theme-purple);
      color: var($--theme-text-on-color);

      span {
        padding: 1rem;
      }
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .blog-column {
    display: flex;
    flex-direction: column;

    .wrapper {
      position: relative;

      .post-metadata {
        position: absolute;
        display: block;
        top: 1rem;
        right: 100%;
        width: 33%;

        span {
          display: block;
          padding: 0rem 1rem;
        }
      }
      .content {
        min-width: auto;
        min-height: auto;
      }
    }
  }
}
