// Aggregates all text transformation styles for easy tweaking

body {
  font-size: 1rem;
  color: var($--theme-text);
  font-family: $sans;
}

h1 {
  font-family: $mono;
  font-size: 2.5rem;
  color: var($--theme-red);
}

h2 {
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
}

h3 {
  font-size: 1.2rem;
  font-family: $mono;
}

a {
  color: var($--theme-blue);
  font-family: $mono;

  &:hover {
    color: var($--theme-red);
  }
}

.accent {
  color: var($--theme-red);
  font-family: $mono;
  font-weight: 200;
}

.nav {
  li {
    font-size: 1.25rem;
    text-align: center;

    a {
      color: $white;
    }

    &:hover {
      a {
        color: var($--theme-red);
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  h3,
  .nav li a {
    font-size: 1.5rem;
  }
}
