// Common style values
$black: #363537;
$white: #e2d4b7;
$mono: "JetBrains Mono";
$sans: "IBMPlex Sans";
$desktop-breakpoint: 800px;

$--theme-text: --theme-text;
$--theme-background: --theme-background;
$--theme-red: --theme-red;
$--theme-blue: --theme-blue;
$--theme-purple: --theme-purple;
