---
---

@import "external/jetbrains-mono";
@import "external/ibm-plex-sans";

:root {
  --black: #363537;
  --blue: #39a2ae;
  --purple: #9e788f;
  --red: #e15554;
  --white: #e2d4b7;
  --mono: "JetBrains Mono";
  --sans: "IBMPlex Sans";
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 3rem;
}

.content {
  border: 7px var(--purple) inset;

  padding: 3rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 0;

  li {
    border-top: none;
    padding: 1rem;
    font-size: 1.5rem;
    min-width: 4rem;
    text-align: center;
    border: 2px var(--purple) solid;

    background-color: var(--purple);

    transition: all .15s ease-in;

    a {
      color: var(--white);
      transition: all .15s ease-in;
    }

    &:hover {
      transform: translateY(10%);
      background: var(--black);
      border: 2px var(--blue) solid;

      a {
        color: var(--blue);
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: var(--mono);
  font-size: 2.5rem;
  color: var(--red);
  margin: 0;
}

h2 {
  font-style: italic;
}

.quick-facts {
  padding: 0;
  list-style: square;
}

ul {
  list-style: none;
}

a {
  color: var(--blue);

  &:hover {
    color: var(--red);
  }
}

@media(min-width: 800px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .content {
    width: 60vh;
    min-height: 50vh;
  }
}
