---
---

@import "variables";

@import "external/jetbrains-mono";
@import "external/ibm-plex-sans";
@import "external/gruvbox";

@import "themes";
@import "mixins";

:root {
  @include spread-map($theme-map-dark);
}
[data-theme="light"] {
  @include spread-map($theme-map-light);
}

@import "typography";
@import "blog";

/*************/
/* Overrides */
/*************/

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3 {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: var($--theme-background);
}

ul {
  list-style: square;
  margin-bottom: 0;
}

/**************/
/*  Themeing  */
/**************/

.toggler {
  position: absolute;
  right: 5%;
  padding: 0.5rem;
  top: 0;

  i {
    vertical-align: middle;
    font-size: 1.5rem;
    color: var($--theme-text);
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: var($--theme-text);
    display: inline-block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 27px;
    height: 27px;
    background: var($--theme-background);
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var($--theme-text);
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: var($--theme-background);
  }

  label:active:after {
    width: 30px;
  }
}

/**************/
/*  Main Card */
/**************/

.wrapper {
  max-width: 1200px;
  margin: 0 3rem;
}

// Flex box; allows center floating & stretches canvas to bottom of viewport
.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  border: 7px var($--theme-purple) inset;
  padding: 1rem;
}

.primary-list {
  padding: 0;
  margin-left: 2rem;
}

.header {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px var($--theme-purple) solid;
}

/*************/
/*    Nav    */
/*************/
.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 0;

  li {
    border-top: none;
    border: 2px var($--theme-purple) solid;
    list-style: none;
    background-color: var($--theme-purple);

    display: block;
    min-width: 3rem;

    transition: all 0.15s ease-in;

    a {
      // extends the anchor to the edges of the `li`
      display: block;
      padding: 0.5rem;
      transition: all 0.15s ease-in;
    }

    &:hover {
      transform: translateY(10%);
      background: var($--theme-background);
      border: 2px var($--theme-red) solid;
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .content {
    width: 60vh;
    min-width: 650px;
    min-height: 50vh;
    padding: 3rem;
  }

  .nav li a {
    padding: 1.5rem;
    min-width: 5rem;
  }
}

/*************/
/*  Header   */
/*************/

header {
  margin: 0.5rem;
}

/*************/
/*   Tags    */
/*************/
.tags {
  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}


/*************/
/*   Misc    */
/*************/

.embedded-image {
  text-align: center;
  font-size: 0.8rem;

  img {
    max-width: 100%;
  }
}
