---
---

@import "external/jetbrains-mono";
@import "external/ibm-plex-sans";

@import 'variables';
@import 'typography';

/*************/
/* Overrides */
/*************/

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1, h2, h3 {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: $black;
}

ul {
  list-style: square;
  margin-bottom: 0;
}

/**************/
/*  Main Card */
/**************/

.wrapper {
  max-width: 1200px;
  margin: 0 3rem;
}

// Flex box; allows center floating & stretches canvas to bottom of viewport
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  border: 7px $purple inset;
  padding: 3rem;
}

.primary-list {
  padding: 0;
}

.header {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px $purple solid;
}

/*************/
/*    Nav    */
/*************/
.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 0;

  li {
    border-top: none;
    border: 2px $purple solid;
    list-style: none;
    background-color: $purple;

    display: block;
    min-width: 4rem;

    transition: all .15s ease-in;

    a {
      // extends the anchor to the edges of the `li`
      display: block;
      padding: .5rem;
      transition: all .15s ease-in;
    }

    &:hover {
      transform: translateY(10%);
      background: $black;
      border: 2px $red solid;
    }
  }
}

@media(min-width: 800px) {
  .content {
    width: 60vh;
    min-width: 650px;
    min-height: 50vh;
  }

  .nav li a {
    padding: 1.5rem;
    min-width: 5rem;
  }
}
