<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% if page.title %}{{ page.title }}{% endif %} — Cameron Ball
    </title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.meta_author }}" />
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.url }}"
    />

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <script src="https://kit.fontawesome.com/1a7a9b8f8c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
